.titleF {
    font-size: 32px;         
  color: #ff6b6b;           
  margin-left: 120px;    
  margin-top: 20px;        
  margin-bottom: 20px;     
  font-weight: bold;       
}

.cards-wrapper{
  padding: 10px;
  margin-left: 20px;
}