.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  position: relative;
  touch-action: pan-y;
  min-width: 600px;
}

.slider-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
  width: 100%;
  min-height: 400px;
}

.side-button {
  background-color: transparent;
  border: none;
  padding: 8px 12px 15px;
  font-size: 45px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #333;
}

.side-button:hover {
  background-color: #fde9d1;
  transform: scale(1.1);
}

body.dark-theme .side-button{
  color: var(--primary-color)
}

body.dark-theme .side-button:hover{
  background-color: var(--button-secondary-background);
}

.side-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


@media (max-width: 1200px) {
  .side-button {
    display: none;
  }
  
  .slider-content {
    justify-content: center;
    overflow: hidden;
  }
  
  .cards-wrapper {
    gap: 8px;
  }
  
  .card.active {
    transform: scale(1.05);
    transition: ease 0.4s;
  }
  
  .card.side {
    transform: scale(0.85);
    opacity: 0.6;
    transition: ease 0.4s;
  }

  .card.side.right::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255, 248, 240, 0.9) 100%);
    pointer-events: none;
  }

  .card.side.left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 248, 240, 0.9) 100%);
    pointer-events: none;
  }

  body.dark-theme .card.side.left::after {
    background: linear-gradient(to left, 
                rgba(255, 255, 255, 0) 0%, 
                rgba(16, 20, 28, 0.9) 100%);
  }
  body.dark-theme .card.side.right::after {
    background: linear-gradient(to right, 
                rgba(255, 255, 255, 0) 0%, 
                rgba(16, 20, 28, 0.9) 100%);
  }
}

@media (max-width: 490px) {
  .slider-container {
    margin: 15px;
    overflow: hidden;
  }
  
  .cards-wrapper {
    padding-left: 50%;
    transform: translateX(-50%);
    gap: 0;
    min-height: 300px;
  }
  
  .card {
    width: 80vw;
    max-width: 300px;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
  }
  
  .card.active {
    transform: scale(1) translateX(0);
    opacity: 1;
    z-index: 2;
  }
  
  .card.side {
    transform: scale(0.85);
    opacity: 0.6;
    filter: blur(1px);
  }
}