.card {
  transition: transform 0.5s ease, opacity 0.5s ease;
  max-width: 330px;
  flex-shrink: 0;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
  width: 100%;
}

.card.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
    transition: transform 0.5s ease;
}

.card.side {
  transform: scale(0.9);
  opacity: 0.7;
  z-index: 1;
    transition: transform 0.5s ease;
}

.buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-content {
  display: flex;
  align-items: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
  transition: ease-in-out 0.3s;
}

.card.side {
  transform: scale(0.9);
  opacity: 0.7;
  z-index: 1;
}

.side-button {
  background-color: #fff;
  border: none;
  padding: 8px 12px 15px;
  font-size: 45px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease 0.3s;
}

.side-button:hover {
  background-color: #eee;
  scale: 1.1;
}


@keyframes fadeIn {
  0% {
    opacity: 0.7;
    transform: translateX(0);
    transform: scale(0.9);
  }
  /* 30% {
    opacity: 0.8;
    transform: scale(0.95);
  }
  60% {
    opacity: 0.9;
    transform: scale(0.95)
  } */
  90% {
    opacity: 1;
    transform: translateX(-6px);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: scale(1);
  }
}

.cardCats {
  animation: fadeIn 0.4s ease-in-out forwards;
}