.card {
  transition: transform 0.5s ease, opacity 0.5s ease;
  max-width: 330px;
  flex-shrink: 0;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
  width: 100%;
}

.card.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
    transition: transform 0.5s ease;
}

.card.side {
  transform: scale(0.9);
  opacity: 0.7;
  z-index: 1;
    transition: transform 0.5s ease;
}

.buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-content {
  display: flex;
  align-items: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
  transition: ease-in-out 0.3s;
}

.card.side {
  transform: scale(0.9);
  opacity: 0.7;
  z-index: 1;
}

.side-button {
  background-color: #fff8f0;
  border: none;
  padding: 8px 12px 15px;
  font-size: 45px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease 0.3s;
}

.side-button:hover {
  background-color: #fde9d1;
  scale: 1.1;
}


/* @keyframes fadeIn {
  0% {
    transform: translateX(0)
    translateY(0);
  }
  90% {
    transform: translateX(-200px)
    translateY(200px);
  }
  100% {
    transform: translateX(0px)
    translateY(0);
  }
}

.card.active {
  animation: fadeIn 0.2s ease-in-out forwards;
} */