/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  border: none;
  background-color: transparent;
  position: relative; 
}

.logo-container {
  flex: 1;
  text-align: left;
  margin-left: 150px;
}

.logo-container img {
  width: 200px; 
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem; 
  margin-right: 100px;
}

.searchbar-container {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px; 
  width: 50px; 
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid #333;
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  margin-top: 16px;
}

.line {
  height: 3.5px;
  width: 25px;
  background-color: #333;
  margin: 0 auto;
  border-radius: 10px;
}

.menu-buttons {
  position: absolute;
  top: 100%;
  right: 0; 
  background-color: var(--background-color
  );
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1000;
  border-radius: 12px;
  min-width: 180px;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1rem;
  text-align: right; /* Alineación a la derecha */
  width: 100%;
  border-bottom: 1px solid #eee; /* Línea debajo */
}

.menu-button:last-child {
  border-bottom: none; /* Quita la línea del último botón */
}

.menu-button:hover {
  background-color: var(--hover-color); /* Cambia el color de fondo al pasar el mouse */
}

/* Animaciones para convertir el ícono en una X */
.menu-icon.open .line1 {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-icon.open .line2 {
  opacity: 0;
}

.menu-icon.open .line3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

/* Transición para suavidad */
.line {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap; 
    padding: 1rem;
  }

  .logo-container {
    margin-left: 0;
    flex: 1 1 100%; 
    text-align: center;
    margin-bottom: 1rem;
  }

  .header-right {
    flex: 1 1 100%;
    justify-content: space-between;
    margin-right: 0;
    gap: 1rem;
  }

  .searchbar-container {
    max-width: 100%;
    flex: 1;
    margin-left: 150px;
  }

  .hamburger-menu {
    flex-shrink: 0;
    margin-right: 30px;
  }

  .menu-buttons {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto; 
    width: auto; 
    min-width: 180px; 
    max-width: 90vw; 
    margin-top: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}